platform4.1.0/service-stubs/org.wso2.carbon.bam.cassandra.data.archive.stub/4.1.0/src/main/resources/CassandraArchivalService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax214="http://connection.cassandra.prettyprint.me/xsd" xmlns:ax220="http://util.archive.data.cassandra.bam.carbon.wso2.org/xsd" xmlns:ax215="http://util.java/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax213="http://api.hector.prettyprint.me/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://service.archive.data.cassandra.bam.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.archive.data.cassandra.bam.carbon.wso2.org">
    <wsdl:documentation>CassandraArchivalService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.java/xsd">
            <xs:complexType abstract="true" name="Collection">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empty" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="Set">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empty" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="Map">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empty" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax217="http://connection.cassandra.prettyprint.me/xsd" xmlns:ax218="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.hector.prettyprint.me/xsd">
            <xs:import namespace="http://connection.cassandra.prettyprint.me/xsd"/>
            <xs:import namespace="http://util.java/xsd"/>
            <xs:complexType abstract="true" name="Cluster">
                <xs:sequence>
                    <xs:element minOccurs="0" name="clusterName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="connectionManager" nillable="true" type="ax214:HConnectionManager"/>
                    <xs:element minOccurs="0" name="credentials" nillable="true" type="ax215:Map"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax219="http://api.hector.prettyprint.me/xsd" xmlns:ax221="http://util.archive.data.cassandra.bam.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://api.hector.prettyprint.me/xsd"/>
            <xs:import namespace="http://util.archive.data.cassandra.bam.carbon.wso2.org/xsd"/>
            <xs:element name="CassandraArchivalServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CassandraArchivalServiceException" nillable="true" type="ns1:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getStreamIdFromCassandra">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cluster" nillable="true" type="ax213:Cluster"/>
                        <xs:element minOccurs="0" name="streamIdKey" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStreamIdFromCassandraResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="archiveCassandraData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="archiveConfiguration" nillable="true" type="ax220:ArchiveConfiguration"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax216="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://connection.cassandra.prettyprint.me/xsd">
            <xs:import namespace="http://util.java/xsd"/>
            <xs:complexType name="HConnectionManager">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activePools" nillable="true" type="ax215:Collection"/>
                    <xs:element minOccurs="0" name="cassandraHostRetryDelay" type="xs:int"/>
                    <xs:element minOccurs="0" name="clusterName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="downedHosts" nillable="true" type="ax215:Set"/>
                    <xs:element minOccurs="0" name="hosts" nillable="true" type="ax215:Set"/>
                    <xs:element minOccurs="0" name="statusPerPool" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="suspendedCassandraHosts" nillable="true" type="ax215:Set"/>
                    <xs:element minOccurs="0" name="timer" nillable="true" type="ax214:HOpTimer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="HOpTimer">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.archive.data.cassandra.bam.carbon.wso2.org/xsd">
            <xs:complexType name="ArchiveConfiguration">
                <xs:sequence>
                    <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="noOfDays" type="xs:int"/>
                    <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="streamName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getStreamIdFromCassandraRequest">
        <wsdl:part name="parameters" element="ns1:getStreamIdFromCassandra"/>
    </wsdl:message>
    <wsdl:message name="getStreamIdFromCassandraResponse">
        <wsdl:part name="parameters" element="ns1:getStreamIdFromCassandraResponse"/>
    </wsdl:message>
    <wsdl:message name="CassandraArchivalServiceException">
        <wsdl:part name="parameters" element="ns1:CassandraArchivalServiceException"/>
    </wsdl:message>
    <wsdl:message name="archiveCassandraDataRequest">
        <wsdl:part name="parameters" element="ns1:archiveCassandraData"/>
    </wsdl:message>
    <wsdl:portType name="CassandraArchivalServicePortType">
        <wsdl:operation name="getStreamIdFromCassandra">
            <wsdl:input message="tns:getStreamIdFromCassandraRequest" wsaw:Action="urn:getStreamIdFromCassandra"/>
            <wsdl:output message="tns:getStreamIdFromCassandraResponse" wsaw:Action="urn:getStreamIdFromCassandraResponse"/>
            <wsdl:fault message="tns:CassandraArchivalServiceException" name="CassandraArchivalServiceException" wsaw:Action="urn:getStreamIdFromCassandraCassandraArchivalServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="archiveCassandraData">
            <wsdl:input message="tns:archiveCassandraDataRequest" wsaw:Action="urn:archiveCassandraData"/>
            <wsdl:fault message="tns:CassandraArchivalServiceException" name="CassandraArchivalServiceException" wsaw:Action="urn:archiveCassandraDataCassandraArchivalServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CassandraArchivalServiceSoap11Binding" type="tns:CassandraArchivalServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getStreamIdFromCassandra">
            <soap:operation soapAction="urn:getStreamIdFromCassandra" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CassandraArchivalServiceException">
                <soap:fault use="literal" name="CassandraArchivalServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="archiveCassandraData">
            <soap:operation soapAction="urn:archiveCassandraData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CassandraArchivalServiceException">
                <soap:fault use="literal" name="CassandraArchivalServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CassandraArchivalServiceSoap12Binding" type="tns:CassandraArchivalServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getStreamIdFromCassandra">
            <soap12:operation soapAction="urn:getStreamIdFromCassandra" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CassandraArchivalServiceException">
                <soap12:fault use="literal" name="CassandraArchivalServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="archiveCassandraData">
            <soap12:operation soapAction="urn:archiveCassandraData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CassandraArchivalServiceException">
                <soap12:fault use="literal" name="CassandraArchivalServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CassandraArchivalServiceHttpBinding" type="tns:CassandraArchivalServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getStreamIdFromCassandra">
            <http:operation location="getStreamIdFromCassandra"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="archiveCassandraData">
            <http:operation location="archiveCassandraData"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CassandraArchivalService">
        <wsdl:port name="CassandraArchivalServiceHttpsSoap11Endpoint" binding="tns:CassandraArchivalServiceSoap11Binding">
            <soap:address location="https://10.224.70.60:9443/services/CassandraArchivalService.CassandraArchivalServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CassandraArchivalServiceHttpsSoap12Endpoint" binding="tns:CassandraArchivalServiceSoap12Binding">
            <soap12:address location="https://10.224.70.60:9443/services/CassandraArchivalService.CassandraArchivalServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CassandraArchivalServiceHttpsEndpoint" binding="tns:CassandraArchivalServiceHttpBinding">
            <http:address location="https://10.224.70.60:9443/services/CassandraArchivalService.CassandraArchivalServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>