platform4.1.0/service-stubs/org.wso2.carbon.hosting.mgt.stub/4.1.0/src/main/resources/resources/ApplicationManagementService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2124="http://dto.mgt.hosting.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://service.mgt.hosting.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.mgt.hosting.carbon.wso2.org">
    <wsdl:documentation>ApplicationManagementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.hosting.carbon.wso2.org/xsd">
            <xs:complexType name="Cartridge">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activeInstances" type="xs:int"/>
                    <xs:element minOccurs="0" name="cartridgeName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="maxInstanceCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="minInstanceCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="repoURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2125="http://dto.mgt.hosting.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://dto.mgt.hosting.carbon.wso2.org/xsd"/>
            <xs:element name="unsubscribe">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="unsubscribeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="subscribe">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="minInstances" type="xs:int"/>
                        <xs:element minOccurs="0" name="maxInstances" type="xs:int"/>
                        <xs:element minOccurs="0" name="shouldActivate" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="repoURL" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dataCartridgeType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dataCartridgeAlias" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="subscribeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setMySqlPassword">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setMySqlPasswordResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listCartridgeInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listCartridgeInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2125:Cartridge"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAvailableCartridges">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAvailableCartridgesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2125:Cartridge"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listApplications">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listApplicationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="describeCartridgeType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="describeCartridgeTypeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="connect">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationCartridge" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dataCartridge" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="connectResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authenticateValidation">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="authenticateValidationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addDomainMapping">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="mappedDomain" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="cartridgeName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addDomainMappingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="setWebRoot" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addApplicationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="activate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="minInstances" type="xs:int"/>
                        <xs:element minOccurs="0" name="maxInstance" type="xs:int"/>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="activateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="listCartridgeInfoRequest">
        <wsdl:part name="parameters" element="ns1:listCartridgeInfo"/>
    </wsdl:message>
    <wsdl:message name="listCartridgeInfoResponse">
        <wsdl:part name="parameters" element="ns1:listCartridgeInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="unsubscribeRequest">
        <wsdl:part name="parameters" element="ns1:unsubscribe"/>
    </wsdl:message>
    <wsdl:message name="unsubscribeResponse">
        <wsdl:part name="parameters" element="ns1:unsubscribeResponse"/>
    </wsdl:message>
    <wsdl:message name="listApplicationsRequest">
        <wsdl:part name="parameters" element="ns1:listApplications"/>
    </wsdl:message>
    <wsdl:message name="listApplicationsResponse">
        <wsdl:part name="parameters" element="ns1:listApplicationsResponse"/>
    </wsdl:message>
    <wsdl:message name="setMySqlPasswordRequest">
        <wsdl:part name="parameters" element="ns1:setMySqlPassword"/>
    </wsdl:message>
    <wsdl:message name="setMySqlPasswordResponse">
        <wsdl:part name="parameters" element="ns1:setMySqlPasswordResponse"/>
    </wsdl:message>
    <wsdl:message name="activateRequest">
        <wsdl:part name="parameters" element="ns1:activate"/>
    </wsdl:message>
    <wsdl:message name="activateResponse">
        <wsdl:part name="parameters" element="ns1:activateResponse"/>
    </wsdl:message>
    <wsdl:message name="addDomainMappingRequest">
        <wsdl:part name="parameters" element="ns1:addDomainMapping"/>
    </wsdl:message>
    <wsdl:message name="addDomainMappingResponse">
        <wsdl:part name="parameters" element="ns1:addDomainMappingResponse"/>
    </wsdl:message>
    <wsdl:message name="describeCartridgeTypeRequest">
        <wsdl:part name="parameters" element="ns1:describeCartridgeType"/>
    </wsdl:message>
    <wsdl:message name="describeCartridgeTypeResponse">
        <wsdl:part name="parameters" element="ns1:describeCartridgeTypeResponse"/>
    </wsdl:message>
    <wsdl:message name="authenticateValidationRequest">
        <wsdl:part name="parameters" element="ns1:authenticateValidation"/>
    </wsdl:message>
    <wsdl:message name="authenticateValidationResponse">
        <wsdl:part name="parameters" element="ns1:authenticateValidationResponse"/>
    </wsdl:message>
    <wsdl:message name="subscribeRequest">
        <wsdl:part name="parameters" element="ns1:subscribe"/>
    </wsdl:message>
    <wsdl:message name="subscribeResponse">
        <wsdl:part name="parameters" element="ns1:subscribeResponse"/>
    </wsdl:message>
    <wsdl:message name="addApplicationRequest">
        <wsdl:part name="parameters" element="ns1:addApplication"/>
    </wsdl:message>
    <wsdl:message name="addApplicationResponse">
        <wsdl:part name="parameters" element="ns1:addApplicationResponse"/>
    </wsdl:message>
    <wsdl:message name="listAvailableCartridgesRequest">
        <wsdl:part name="parameters" element="ns1:listAvailableCartridges"/>
    </wsdl:message>
    <wsdl:message name="listAvailableCartridgesResponse">
        <wsdl:part name="parameters" element="ns1:listAvailableCartridgesResponse"/>
    </wsdl:message>
    <wsdl:message name="connectRequest">
        <wsdl:part name="parameters" element="ns1:connect"/>
    </wsdl:message>
    <wsdl:message name="connectResponse">
        <wsdl:part name="parameters" element="ns1:connectResponse"/>
    </wsdl:message>
    <wsdl:portType name="ApplicationManagementServicePortType">
        <wsdl:operation name="listCartridgeInfo">
            <wsdl:input message="tns:listCartridgeInfoRequest" wsaw:Action="urn:listCartridgeInfo"/>
            <wsdl:output message="tns:listCartridgeInfoResponse" wsaw:Action="urn:listCartridgeInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="unsubscribe">
            <wsdl:input message="tns:unsubscribeRequest" wsaw:Action="urn:unsubscribe"/>
            <wsdl:output message="tns:unsubscribeResponse" wsaw:Action="urn:unsubscribeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listApplications">
            <wsdl:input message="tns:listApplicationsRequest" wsaw:Action="urn:listApplications"/>
            <wsdl:output message="tns:listApplicationsResponse" wsaw:Action="urn:listApplicationsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setMySqlPassword">
            <wsdl:input message="tns:setMySqlPasswordRequest" wsaw:Action="urn:setMySqlPassword"/>
            <wsdl:output message="tns:setMySqlPasswordResponse" wsaw:Action="urn:setMySqlPasswordResponse"/>
        </wsdl:operation>
        <wsdl:operation name="activate">
            <wsdl:input message="tns:activateRequest" wsaw:Action="urn:activate"/>
            <wsdl:output message="tns:activateResponse" wsaw:Action="urn:activateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addDomainMapping">
            <wsdl:input message="tns:addDomainMappingRequest" wsaw:Action="urn:addDomainMapping"/>
            <wsdl:output message="tns:addDomainMappingResponse" wsaw:Action="urn:addDomainMappingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="describeCartridgeType">
            <wsdl:input message="tns:describeCartridgeTypeRequest" wsaw:Action="urn:describeCartridgeType"/>
            <wsdl:output message="tns:describeCartridgeTypeResponse" wsaw:Action="urn:describeCartridgeTypeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="authenticateValidation">
            <wsdl:input message="tns:authenticateValidationRequest" wsaw:Action="urn:authenticateValidation"/>
            <wsdl:output message="tns:authenticateValidationResponse" wsaw:Action="urn:authenticateValidationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="subscribe">
            <wsdl:input message="tns:subscribeRequest" wsaw:Action="urn:subscribe"/>
            <wsdl:output message="tns:subscribeResponse" wsaw:Action="urn:subscribeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addApplication">
            <wsdl:input message="tns:addApplicationRequest" wsaw:Action="urn:addApplication"/>
            <wsdl:output message="tns:addApplicationResponse" wsaw:Action="urn:addApplicationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listAvailableCartridges">
            <wsdl:input message="tns:listAvailableCartridgesRequest" wsaw:Action="urn:listAvailableCartridges"/>
            <wsdl:output message="tns:listAvailableCartridgesResponse" wsaw:Action="urn:listAvailableCartridgesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="connect">
            <wsdl:input message="tns:connectRequest" wsaw:Action="urn:connect"/>
            <wsdl:output message="tns:connectResponse" wsaw:Action="urn:connectResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ApplicationManagementServiceSoap11Binding" type="tns:ApplicationManagementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="unsubscribe">
            <soap:operation soapAction="urn:unsubscribe" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listCartridgeInfo">
            <soap:operation soapAction="urn:listCartridgeInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listApplications">
            <soap:operation soapAction="urn:listApplications" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="activate">
            <soap:operation soapAction="urn:activate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setMySqlPassword">
            <soap:operation soapAction="urn:setMySqlPassword" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addDomainMapping">
            <soap:operation soapAction="urn:addDomainMapping" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="describeCartridgeType">
            <soap:operation soapAction="urn:describeCartridgeType" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authenticateValidation">
            <soap:operation soapAction="urn:authenticateValidation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="subscribe">
            <soap:operation soapAction="urn:subscribe" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listAvailableCartridges">
            <soap:operation soapAction="urn:listAvailableCartridges" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addApplication">
            <soap:operation soapAction="urn:addApplication" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="connect">
            <soap:operation soapAction="urn:connect" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationManagementServiceSoap12Binding" type="tns:ApplicationManagementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="unsubscribe">
            <soap12:operation soapAction="urn:unsubscribe" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listCartridgeInfo">
            <soap12:operation soapAction="urn:listCartridgeInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listApplications">
            <soap12:operation soapAction="urn:listApplications" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="activate">
            <soap12:operation soapAction="urn:activate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setMySqlPassword">
            <soap12:operation soapAction="urn:setMySqlPassword" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addDomainMapping">
            <soap12:operation soapAction="urn:addDomainMapping" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="describeCartridgeType">
            <soap12:operation soapAction="urn:describeCartridgeType" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authenticateValidation">
            <soap12:operation soapAction="urn:authenticateValidation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="subscribe">
            <soap12:operation soapAction="urn:subscribe" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listAvailableCartridges">
            <soap12:operation soapAction="urn:listAvailableCartridges" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addApplication">
            <soap12:operation soapAction="urn:addApplication" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="connect">
            <soap12:operation soapAction="urn:connect" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationManagementServiceHttpBinding" type="tns:ApplicationManagementServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="unsubscribe">
            <http:operation location="unsubscribe"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listCartridgeInfo">
            <http:operation location="listCartridgeInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listApplications">
            <http:operation location="listApplications"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="activate">
            <http:operation location="activate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setMySqlPassword">
            <http:operation location="setMySqlPassword"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addDomainMapping">
            <http:operation location="addDomainMapping"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="describeCartridgeType">
            <http:operation location="describeCartridgeType"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authenticateValidation">
            <http:operation location="authenticateValidation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="subscribe">
            <http:operation location="subscribe"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listAvailableCartridges">
            <http:operation location="listAvailableCartridges"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addApplication">
            <http:operation location="addApplication"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="connect">
            <http:operation location="connect"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ApplicationManagementService">
        <wsdl:port name="ApplicationManagementServiceHttpsSoap11Endpoint" binding="tns:ApplicationManagementServiceSoap11Binding">
            <soap:address location="https://192.168.122.1:9443/services/ApplicationManagementService.ApplicationManagementServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ApplicationManagementServiceHttpsSoap12Endpoint" binding="tns:ApplicationManagementServiceSoap12Binding">
            <soap12:address location="https://192.168.122.1:9443/services/ApplicationManagementService.ApplicationManagementServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ApplicationManagementServiceHttpsEndpoint" binding="tns:ApplicationManagementServiceHttpBinding">
            <http:address location="https://192.168.122.1:9443/services/ApplicationManagementService.ApplicationManagementServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>