platform4.1.0/service-stubs/org.wso2.carbon.cep.statistics.stub/4.1.0/src/main/resources/CEPStatisticsAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax223="http://data.internal.statistics.cep.carbon.wso2.org/xsd" xmlns:tns="http://statistics.cep.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://statistics.cep.carbon.wso2.org">
    <wsdl:documentation>CEPStatisticsAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax224="http://data.internal.statistics.cep.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://data.internal.statistics.cep.carbon.wso2.org/xsd"/>
            <xs:element name="getGlobalCount">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGlobalCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax223:CountDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBucketCount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bucketName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBucketCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax223:CollectionDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBrokerCount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="brokerName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBrokerCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax223:CollectionDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.internal.statistics.cep.carbon.wso2.org/xsd">
            <xs:complexType name="CountDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="requestCount" type="xs:long"/>
                    <xs:element minOccurs="0" name="responseCount" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CollectionDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="bucket" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="count" nillable="true" type="ax223:CountDTO"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="topicCounts" nillable="true" type="ax223:CountDTO"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="topicNames" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getGlobalCountRequest">
        <wsdl:part name="parameters" element="ns1:getGlobalCount"/>
    </wsdl:message>
    <wsdl:message name="getGlobalCountResponse">
        <wsdl:part name="parameters" element="ns1:getGlobalCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getBrokerCountRequest">
        <wsdl:part name="parameters" element="ns1:getBrokerCount"/>
    </wsdl:message>
    <wsdl:message name="getBrokerCountResponse">
        <wsdl:part name="parameters" element="ns1:getBrokerCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getBucketCountRequest">
        <wsdl:part name="parameters" element="ns1:getBucketCount"/>
    </wsdl:message>
    <wsdl:message name="getBucketCountResponse">
        <wsdl:part name="parameters" element="ns1:getBucketCountResponse"/>
    </wsdl:message>
    <wsdl:portType name="CEPStatisticsAdminPortType">
        <wsdl:operation name="getGlobalCount">
            <wsdl:input message="tns:getGlobalCountRequest" wsaw:Action="urn:getGlobalCount"/>
            <wsdl:output message="tns:getGlobalCountResponse" wsaw:Action="urn:getGlobalCountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getBrokerCount">
            <wsdl:input message="tns:getBrokerCountRequest" wsaw:Action="urn:getBrokerCount"/>
            <wsdl:output message="tns:getBrokerCountResponse" wsaw:Action="urn:getBrokerCountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getBucketCount">
            <wsdl:input message="tns:getBucketCountRequest" wsaw:Action="urn:getBucketCount"/>
            <wsdl:output message="tns:getBucketCountResponse" wsaw:Action="urn:getBucketCountResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CEPStatisticsAdminSoap11Binding" type="tns:CEPStatisticsAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getGlobalCount">
            <soap:operation soapAction="urn:getGlobalCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBrokerCount">
            <soap:operation soapAction="urn:getBrokerCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBucketCount">
            <soap:operation soapAction="urn:getBucketCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CEPStatisticsAdminSoap12Binding" type="tns:CEPStatisticsAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getGlobalCount">
            <soap12:operation soapAction="urn:getGlobalCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBrokerCount">
            <soap12:operation soapAction="urn:getBrokerCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBucketCount">
            <soap12:operation soapAction="urn:getBucketCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CEPStatisticsAdminHttpBinding" type="tns:CEPStatisticsAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getGlobalCount">
            <http:operation location="getGlobalCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBrokerCount">
            <http:operation location="getBrokerCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBucketCount">
            <http:operation location="getBucketCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CEPStatisticsAdmin">
        <wsdl:port name="CEPStatisticsAdminHttpsSoap11Endpoint" binding="tns:CEPStatisticsAdminSoap11Binding">
            <soap:address location="https://192.168.1.3:9443/services/CEPStatisticsAdmin.CEPStatisticsAdminHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CEPStatisticsAdminHttpsSoap12Endpoint" binding="tns:CEPStatisticsAdminSoap12Binding">
            <soap12:address location="https://192.168.1.3:9443/services/CEPStatisticsAdmin.CEPStatisticsAdminHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CEPStatisticsAdminHttpsEndpoint" binding="tns:CEPStatisticsAdminHttpBinding">
            <http:address location="https://192.168.1.3:9443/services/CEPStatisticsAdmin.CEPStatisticsAdminHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>